.button-arounder {
  padding: 0 15px;
  height: 32px;
  line-height: 1.5;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s;
  border-radius: 10px;
}

.button-arounder:hover {
  border-color: #1890ff;
  color: #1890ff;
}
